
@font-face { font-family: "FF DIN Round Pro Bold"; src: url(../fonts/ff-din.otf) format("truetype"); }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: "ff din round pro bold";
    padding: 0;
    margin: 0;
    height: 100%;
    background: #f3f1f1
     no-repeat;
}

.container > header span {
  color: #88c542;
	display: block;
  opacity: 1;
  font-size: 100%;
}
/* map */
#maprow {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

border-radius: 4px 4px 4px 4px;
border: 4px dashed  #cb4e4e;
}


hr { border-top: 1px solid #8c8b8b; }


button:focus {outline:0;}

/*button: call to action*/
#btn-locate {
  border-radius: 2%;
  border: none;
  width: 232px;
  height: 70px;
    background: #cb4e4e;
    color: white;
    box-shadow: 0 6px #ab3c3c;
    font-size: 22px;
}

#btn-locate:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}
#btn-locate:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
