@font-face {
    font-family: "FF Din Round Pro";
    src: url(../fonts/ff-din.otf);
    font-weight: bold;
}
.single-middle { text-align: center; }
/* button: call to action */
button:focus {outline:0;}


#btn-locate {
  width: 232px;
  height: 70px;
  background: #cb4e4e;
  color: white;
  font-family: "FF Din Round Pro";
  border-radius: 2%;
  border: none;
  font-size: 22px;
  letter-spacing: 1px;
  box-shadow: 0 6px #ab3c3c;
}

#btn-locate:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
  border: 0px dashed #cb4e4e;
}
#btn-locate:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;

}



/*
 maprow determines size of canvas, (actual map)
*/


#maprow {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  border: 4px dashed  #cb4e4e;
}

.marquee {
    font-size: 12px;
    font-family: sans-serif;
    background-color: white;
    color:#ab3c3c;
}

body {
  font-family: "FF Din Round Pro";
    padding: 0;
    margin: 0;
    height: 100%;
    background: #f3f1f1
    no-repeat;
    line-height: 1.42857143;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container header span {
  color: #88c542;
	display: block;
  opacity: 1;
  font-size: 100%;
}



header {
  display: block;
  font-size: 16px;
}

hr { border-top: 1px solid #8c8b8b; }

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pull-right {
  float: right !important;
}
